<app-navbar></app-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <h3 class="mt-3">Add Course</h3>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Product Code:</label>
                    <input type="number" name="productCode" [(ngModel)]="productCode" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Name:</label>
                    <input type="text" name="name" [(ngModel)]="name" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Manufacture Date:</label>
                    <input type="date" name="manufDate" [(ngModel)]="manufDate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Expiry Date:</label>
                    <input type="date" name="expDate" [(ngModel)]="expDate" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Brand:</label>
                    <input type="text" name="brand" [(ngModel)]="brand" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Price:</label>
                    <input type="number" name="price" [(ngModel)]="price" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Seller:</label>
                    <input type="text" name="seller" [(ngModel)]="seller" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">District Name:</label>
                    <input type="text" name="distName" [(ngModel)]="distName" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readProductValue()" class="btn btn-primary mt-2">Add Product</button>
                </div>
            </div>
        </div>
    </div>
</div>

